.banner
{
  background-color: red;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1,h3{
   color: white;
  text-align: center;
  }

}
