.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures vertical alignment of items */
  padding: 5px 30px;
}

.navbar img {
  width: 60px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.navbar .nav-right {
  margin: 20px;
  padding: 0;
  display: flex;
  gap: 15px;
}
